<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceGame" transactionFlow="true">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceGame" contract="ServiceReference1.IServiceGame"
                name="NetTcpBinding_IServiceGame">
                <identity>
                    <userPrincipalName value="DESKTOP-11K56CE\admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>